<aside class="right-side">
  <section class="content-header">
    <h1> Widgets <small>Preview page</small> </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Patient Sechdule</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Patient</label>
        <select class="form-control">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label>App Obj</label>
        <select class="form-control">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label>Diagnosis</label>
        <select class="form-control">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label>Referr</label>
        <select class="form-control">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Provider</label>
        <select class="form-control">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
                        	<label>Office</label>
                            <select class="form-control">
                            	<option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
      <div class="col-md-6 checkbox fl-rt weekd">
        <label>
          <input type="checkbox">
          Sun </label>
        <label>
          <input type="checkbox">
          Mon </label>
        <label>
          <input type="checkbox">
          Tue </label>
        <label>
          <input type="checkbox">
          Wed </label>
        <label>
          <input type="checkbox">
          Thu </label>
        <label>
          <input type="checkbox">
          Fri </label>
        <label>
          <input type="checkbox">
          Sat </label>
        <label class="time-am">
          <input type="checkbox">
          AM </label>
        <label class="time-pm">
          <input type="checkbox">
          PM </label>
        <div class="text-right ref-btn">
          <button class="btn btn-primary btn-flat"><i class="glyphicon glyphicon-refresh"></i></button>
        </div>
      </div>
    </div>
    <!--/row-->
    
    <div class="col-sm-12 gr-br"> <div class="row">
      <div class="patient-tb">
      <div class="patient-cv">
        <div class="pt-name">
          <label>Pateint 1</label>
        </div>
        <div class="pt-detail">
          <label>Pateint Details</label>
          <label>Pateint Details</label>
        </div>
        <div class="clearfix"></div>
        <label>Retina D</label>
        <div class="table-responsive table-borderd gr-br">
          <table class="table table-striped">
            <tr>
              <th width="10%">Action</th>
              <th width="30%" class="tx-cen">Task</th>
              <th width="32%">Eat Time(min)</th>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TWU</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TED</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TOL</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TFL</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td align="center" colspan="3"><button type="button" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-primary btn-flat bt-ft"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
            <tr>
              <td align="center" colspan="3">&nbsp;</td>
            </tr>
          </table>
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
              <div class="modal-content pop-up">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Retina D</h4>
                </div>
                <div class="modal-body">
                  <select class="form-control">
                    <option>Select Task</option>
                    <option>Select Task</option>
                    <option>Select Task</option>
                    <option>Select Task</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-flat">Add Task</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> </div>
      <div class="calendar-cover">
        <div id="calendar"></div>
      </div>
    </div></div><!-- /row--> 
    <h3 class="appointh3">Edit Appointment</h3>
    <div class="col-sm-11 appoint">
    	<div class="col-sm-12">
        <div class="row">
        <div class="pt-name">
          <label>Pateint 1</label>
        </div>
        <button type="button" type="button" class="btn btn-primary btn-flat rt-fl">Update</button>
        <div class="clearfix"></div>
        <div class="col-sm-5">
        <div class="row">
        <div class="clearfix"></div>
        <label>Retina D</label>
        <div class="table-responsive table-borderd gr-br">
          <table class="table table-striped">
            <tr>
              <th width="10%">Action</th>
              <th width="40%" class="tx-cen">Task</th>
              <th width="20%">Eat Time(min)</th>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TWU</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TED</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TOL</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></a></td>
              <td class="tx-cen">TFL</td>
              <td><div class="form-group">
                  <input type="text" class="form-control" placeholder="15" />
                </div></td>
            </tr>
            <tr>
              <td align="center" colspan="3"><button type="button" data-toggle="modal" data-target=".bs-example-modal-sm1" class="btn btn-primary btn-flat bt-ft"><i class="glyphicon glyphicon-plus"></i></button></td>
            </tr>
            <tr>
              <td align="center" colspan="3">&nbsp;</td>
            </tr>
          </table>
          <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
              <div class="modal-content pop-up">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Retina D</h4>
                </div>
                <div class="modal-body">
                  <select class="form-control">
                    <option>Select Task</option>
                    <option>Select Task</option>
                    <option>Select Task</option>
                    <option>Select Task</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-flat">Add Task</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div></div>
        <div class="col-sm-5 app-dt">
        	<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-6 control-label">Appointment date</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-6 control-label">Appointment Time</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="" >
    </div>
  </div>
  
  
</form>
        </div>
        </div> </div>
    </div>
    
  </section>
</aside>

<!-- AdminLTE App --> 
<script src="../javascripts/AdminLTE/app.js" type="text/javascript"></script> 